name: AfricaNoFilter

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build Angular app
        run: npm run build

    strategy:
      matrix:
        node-version: [16.x]

  pull_request_review:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Check if pull request is approved
        id: check_approvals
        run: |
          echo "::set-output name=approved::$(curl -sSL -H \"Authorization: Bearer ${{ secrets.YML_TOKEN }}\" https://api.github.com/repos/${{ github.repository }}/pulls/${{ github.event.pull_request.number }}/reviews | jq '.[] | select(.user.login == \"${{ github.actor }}\") | select(.state == \"APPROVED\") | .state' | wc -l | tr -d '[:space:]')"
        shell: bash

      - name: Approve pull request
        uses: "peter-evans/create-pull-request-comment@v3"
        with:
          token: "${{ secrets.YML_TOKEN }}"
          message: "This pull request has been approved and can be merged."
          header: "Pull Request Approved"
        if: steps.check_approvals.outputs.approved == '0'
